h3.gallery_heading{
    text-align: center;
    background-color:rgb(102, 204, 102);
    color: white;
    padding: 5px;
    font-weight: bold;
 }
 
div.gallery img {
    width: 100%;
    height: auto;
  }
  

  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 6px 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }